* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid{
  margin-top:60px;
  margin-left:400px;
  display:grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(4,1fr);
  gap:5px;
  width:600px;
  height:500px;
}
img{
  width:100%;
  height:100%;
}
.box2{
  grid-column: 2/5;
  grid-row: 1/4;
}
.box3,.box4{
  grid-row:2/4;
  padding:20px 8px;
}
/* 
.box1 {
  background-color: red;
}
.box2 {
  background-color: chocolate;
}
.box3 {
  background-color: green;
}
.box4 {
  background-color: yellow;
}
.box5 {
  background-color: cadetblue;
}
.box6 {
  background-color: rgb(42, 55, 167);
}
.box7 {
  background-color: rgb(124, 118, 38);
}
.box8 {
  background-color: rgb(94, 15, 110);
}
.box9 {
  background-color: rgb(214, 18, 110);
}
.box10 {
  background-color: rgb(105, 103, 182);
} */
